body{
  width: 100%;
  margin: 0 auto;
  background-color: #F4F4F2;
}

/* navigation css:*/

li{
  list-style: none;
}
a{
  text-decoration: none;
}

nav{
  z-index: 10001;
}

.logo img {
  margin-top: 12px;
  cursor: pointer;
  width: 270px;
}

.navbar {
  padding: 10px 13%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  display: inline-block;
  padding: 1em;
}

nav ul li a{
  color: #5D284C;
  transition: all .40s ease;
}

nav ul li a:hover{
  text-decoration: underline solid;
  transform: translateY(-3px) translateX(-5px);
  color: #7e3b69;
  
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-family: 'Markazi Text';
  font-size: 22px;
}

.nav-links.visible {
  flex-direction: column;
  position: absolute;
  top: 40px;
  right: 0;
  width: 100%;
  background-color: #5D284C;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

/* Main page css:*/

.header-banner {
  height: 48vw;
  width: 40px auto;
  background: url('./images/headers/purple\ header.jpg') no-repeat;
  background-size: cover;
  position: relative;
}

 h1 {
  font-size: 55px;
  font-family: 'Arial Black';
  font-style: italic;
  color: white;
  padding-top: 28px;
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.welcome-message {
  font-size: 28px;
  font-family: "Markazi Text";
  padding: 80px;
  text-align: center;
  background-color: #E1C9D5;
  color: #4B1535;
}

.welcome-text{
margin: 40px;
}

.welcome-text i {
  color: #931251;
}

.main-categories {
  display: flex;
  justify-content: center;
  align-items: center;   
  flex-wrap: wrap;
  height: 70vh;
  width: 100%;
  background-color: #D183A9;
  padding-bottom: 60px;
}

.card {
  width: 430px;
  border-radius: 8px;  
  background-color: white;
  margin: 20px;
  overflow: hidden;
}

.card-img {
  width: 350px;
  height: 370px;
  border-radius: 30px;  
  object-fit: cover;
  padding-top: 30px;
  padding-bottom: 30px;
  display: block;
  margin: auto;
}

.content-header {
  background-color: #D183A9;
  padding: 30px;
}

.title {
  font-size: 30px;
  font-family: 'Markazi Text';
  font-weight: 600;
  text-align: center;
  color: #FDFBCF;
}

.button-style {
  padding-bottom: 30px;
  text-align: center;
}

.card-button {
  font-size: 20px;
  padding: 13px;
  text-align: center;
  font-family: 'Markazi Text';
  font-weight: 500;
  background-color: #c6377c;
  color: #FDFBCF;
  border-radius: 40px;
  border: 1px solid #fbf8c2;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 12px rgba(214, 127, 95, 0.5);
}

.card-button:hover {
  background-color: #7d1849;
  color: #ffffff;
}

.category-link {
background-color: #D183A9;
padding: 10px;
padding-bottom: 20px;
text-align: right; 
}

.seeMore {
  padding: 16px;
  color: #FFE1E6;
  font-size: 28px;
  font-family: 'Markazi Text';
  font-weight: 600;
  transition: all 0.3s ease;
}

.seeMore:hover {
  color: #610c35;
}

.petal-colors {
  display: flex;
  justify-content: center;
  align-items: center;   
  flex-wrap: wrap;
  height: 50vh;
  width: 100%;
  background-color: #F4F4F2;
  padding-bottom: 50px;
}

.flower-meanings {
  width: 600px;
  background-color: #E1DDF3;
  margin: 20px;
  padding-right: 60px;
  overflow: hidden;
}

.flowertype-img {
  width: 270px;
  height: 240px;
  object-fit:  cover;
  padding: 20px;
  display: block;
  margin: auto;
  float: left;
  margin-left: 0px 0px 0px 30px;
}

.petal-header {
  background-color: #F4F4F2;
  padding: 20px;
  padding-top: 30px;
}

.flowertype-title {
  font-size: 30px;
  font-family: 'Markazi Text';
  font-weight: 800;
  text-align: left;
  color: #4B1535;
  transition: all 0.3s ease;
}

.flowertype-title:hover {
  color: #607EA2;
}

.flowertype-text {
  padding: 0%;
}

.flowertype-heading {
  text-align: left;
  font-size: 22px;
  color: #4B1535;
  padding: 0px;
}

.flowertype-p {
color: #5D284C;
font-weight: 700;
font-size: 18px;
}

.flowertype-p span {
  font-size: 18px;
  color: #A24C61;
}

.flowertype-button {
  padding-bottom: 30px;
  padding-top: 15px;
  text-align: right;
}

.petalcolor-button {
  font-size: 16px;
  padding: 10px;
  text-align: center;
  font-family: 'Markazi Text';
  font-weight: 600;
  background-color: #607EA2;
  color: #fdfdfd;
  border-radius: 40px;
  border: 2px solid #3A345B;
  transition: all 0.4s ease;
}

.petalcolor-button:hover {
  background-color: #3A345B;
  color: #F09FC6;
}

/* About us page css:*/

.about-section {
  background-color: #E5E5E3;
  padding: 1px;
}

.about-header h3 {
  font-size: 55px;
  font-family: 'Markazi Text';
  font-weight: 800;
  padding: 8px;
  padding-left: 450px;
  background-color: #F09FC6;
  color: #4B1535;
}

.about-text {
  justify-content: end;
}

.about-text p {
  font-family: 'Markazi Text';
  font-size: 28px;
  text-align: center;
}



.image-stack {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
  padding: 40px;
}

.image-stack img {
  width: 520px;
  height: 520px;
}

.circle {
  background-color: #bc7283;
  width: 630px;
  height: 600px;
  border-radius: 50%;
  position: absolute;
  top: 30%;
  left: 6%;
   z-index: 1;
}

.image-stack .image5 {
  width: 150px;
  height: 150px;
}

.image-stack .image4 {
  width: 200px;
  height: 200px;
}

.image-stack .image3 {
  width: 240px;
  height: 240px;
}

.image-stack-second {
  grid-column: 3 / span 8;
  grid-row: 1;
  padding-top: 50%;
  z-index: 1;
}

.image-stack-first {
  grid-column: 1 /-1;
  grid-row: 1;
  z-index: 1;
}

.image-stack-lilyflower {
  grid-column: 3/ -1;
  grid-row: 1;
  padding-top: 80%;
  z-index: 1;
}

.image-stack-whiteflower {
  grid-column: 2/-1;
  grid-row: 1;
  padding-top: 40%;
  z-index: 1;
}

.image-stack-pinkflower {
  grid-column: 4/-1;
  grid-row: 1;
  padding-top: 30%;
  z-index: 2;
}

.about-text {
  padding: 55px;
  width: 520px;
  height: 1270px;
  background-color: #E1C9D5;
  position: absolute;
  right: 3%;
  top: 17%;
}

.about-text p {
  padding-top: 85px;
  text-align: center;
  font-family: 'Markazi Text';
  font-size: 38px;
  font-weight: 500;
  color: #5D284C;
}

.about-text span {
  font-weight: 600;
}

/*contact page styling*/

.contact-page {
  background-color: #F4F4F2;
  display: flex;
  align-items: flex-start;
  margin: 20px;
  padding-bottom: 40px;
}

.contact-img {
  position: relative;
  height: 300px;
  width: 100% ;
  background-image: url('./images/headers/purple bg flower3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 20px;
  display: block;
}

.contact-headerText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.contact-headerText h2 {
  font-family: 'Markazi Text';
  font-size: 50px;
  color: #5D284C;
  font-weight: 600;
}

.contact-boxes {
  display: grid;
  grid-template-columns: repeat(2, 300px);
  grid-template-rows: repeat(2, 300px);
  grid-gap: 80px;
  margin-top: 60px;
  padding: 30px;
  padding-left: 100px;
}

.phone-box {
  background-color: #FDFBCF;
  padding: 30px;
  border-radius: 24px;
  border: solid 4px #F09FC6;
  text-align: center;
  padding-top: 30px;
}

.box-header {
  color: #5D284C;
  font-weight: bold;
  font-size: 18px;
}

.box-text {
  color: #5D284C;
  font-weight: bold;
  font-size: 15px;
}

.fa-icon {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #A24C61;
}

.whatsapp-box {
  background-color: #FDFBCF;
  padding: 30px;
  border-radius: 24px;
  border: solid 4px #F09FC6;
  text-align: center;
  padding-top: 30px;
}

.email-box {
  background-color: #FDFBCF;
  padding: 30px;
  border-radius: 24px;
  border: solid 4px #F09FC6;
  text-align: center;
  padding-top: 30px;
}

.ourShop-box {
  background-color: #FDFBCF;
  padding: 30px;
  border-radius: 24px;
  border: solid 4px #F09FC6;
  text-align: center;
  padding-top: 30px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  padding: 50px 50px 20px 150px;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.form-header {
  padding-top: 20px;
  font-size: 24px;
  color: #5D284C;
  font-weight: bolder;
}

.form-field label {
  margin-bottom: 12px;
  font-size: 20px;
  font-family: "Markzi Text";
  color: #5D284C;
  font-weight: bolder;
}

.form-field input {
  padding: 20px;
  border-radius: 12px;
  background-color: #E1C9D5;
  border: 2px solid #c37fa1;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #4B1535;  
  font-style: italic;
  font-size: 12px;
}

#message {
  padding-bottom: 80px;
}

.formBtn {
  justify-content: center;
  text-align: center;
}

.formBtn input {
  padding: 10px 40px 10px 40px;
  border-radius: 20px;
  border: 2px solid #4B1535;
  font-size: 16px;
  background-color: #F09FC6;
  color: #4B1535;
  font-weight: bolder;
}

.formBtn input:not(:disabled):hover {
  background-color: #d86fae; 
  color: white; 
}

.formBtn input:disabled {
  background-color: #ddcad4;
  color: #553e49;
  border-color: #deadc7;
  cursor: not-allowed;
  opacity: 0.6;
}

/*Contact us alert message styling*/

.custom-popUp {
  background: #fff8f0; 
  border-radius: 20px;
  font-family: 'Markazi Text';
  color: #e579af; 
  box-shadow: 0 8px 20px rgba(107, 76, 59, 0.2);
}

.custom-Title {
  font-size: 1.8rem;
  font-weight: 700;
  color: #bc1669; 
}

.custom-Content {
  font-size: 1.3rem;
  color: #610c35;
  margin-top: 10px;
}

.custom-confirmBtn {
  background-color: #e972ab;
  border: none;
  border-radius: 12px;
  padding: 10px 25px;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(214, 127, 95, 0.5);
  transition: background-color 0.3s ease;
}

.custom-confirmBtn:hover {
  background-color: #b1487b;
}


/* Category section*/

.category-image {
  height: 200px;
  width: 100% ;
  background-image: url('./images/headers/flower bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 20px;
  display: block;
}

.categories {
  background-color: #eae0e4;
  min-height: 120vh;
  box-sizing: border-box;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 10px;
  margin-bottom: 4rem;
}

.category-card {
  background-color: #5D284C;
  padding: 20px;
  border-radius: 20px;
  border: 0;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
}

.category-card:hover {
  background-color: #6e2d5e; 
  transform: translateY(-5px) scale(1.02);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.category-link2 {
  text-decoration: none;
  color: inherit;
  display: block;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  box-shadow: none;
  background-color: transparent !important;
}

.category-link:focus-visible {
  outline: 2px solid #D183A9; 
  outline-offset: 4px;
}

.category-card img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
  border: 0;
}

.category-header {
  font-size: 40px;
  font-family: 'Markazi Text';
  font-weight: 700;
  color: #3A345B;
  align-self: flex-start;
  text-align: left;
  padding-top: 40px;
  padding-left: 100px;
  padding-bottom: 20px;
  background-color: #eae0e4;
}

.arrow-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.arrow {
  rotate: 90deg;
  color: #D183A9;
  transition: transform 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.category-card:hover .arrow {
  color: #ce6095;
}

.category-card h5 {
  text-align: left;
  font-size: 20px;
  color: #E1C9D5;
}

.category-card span {
  text-decoration: underline;
  font-style: italic;
  font-weight: bold;
}

/*Category pages*/

.category-image-header {
  height: 110px;
  width: 100% ;
  background-image: url('./images/headers/flowers.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 20px;
  display: block;
}

.category-backBtn {
  display: flex;
  padding: 20px;
  align-items: center;
  gap: 1rem;
}

.category-backBtn h2 {
  font-size: 25px;
  color: #3A345B;
}

.backbtn-icon:hover{
  color: #931251;
}

.backbtn-icon {
  color: #D183A9;
  transition: color 0.4s ease;
}

.category-text-header {
  padding: 10px;
  padding-left: 30px;
  text-align: left;
  font-size: 38px;
  color: #4B1535;
  font-weight: bold;
}

.category-products {
  background-color: #F4F4F2;
  min-height: 180vh;
  box-sizing: border-box;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 36px;
  padding: 20px;
  margin-bottom: 4rem;
}

.product-card {
  background-color: #3A345B;
  padding: 30px;
  border-radius: 20px;
  border: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
  border: 0;
}

.product-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7rem;
  padding-bottom: 0;
  font-size: 29px;
  color: #E1DDF3;
}

.product-text h5 {
  font-size: 27px;
}

.product-button {
  padding: 16px 28px 16px 28px;
  background-color: #E1C9D5;
  text-align: center;
  border-radius: 40px;
  font-size: 22px;
  font-weight: bold;
  color: #4B1535;
  width: fit-content;
  align-self: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.product-button:hover {
  background-color: #cf5391;
  color: #fff3f9;
}

/* add to cart message alert styling*/

.custom-popup {
  background: #fff8f0; 
  border-radius: 20px;
  font-family: 'Markazi Text';
  color: #931251; 
  box-shadow: 0 8px 20px rgba(107, 76, 59, 0.2);
}

.custom-title {
  font-size: 1.8rem;
  font-weight: 700;
  color: #931251; 
}

.custom-content {
  font-size: 1.3rem;
  color: #4B1535;
  margin-top: 10px;
}

.custom-confirm-button {
  background-color: #d9297e;
  border: none;
  border-radius: 12px;
  padding: 10px 25px;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(214, 127, 95, 0.5);
  transition: background-color 0.3s ease;
}

.custom-confirm-button:hover {
  background-color: #920f4f;
}

/*Petal colors styling*/

.bloomcolors {
  background-color: #F4F4F2;
  min-height: 140vh;
  box-sizing: border-box;
  padding-bottom: 30px;
}

.bloomcolors-header{
  padding: 30px;
  background-color: #D183A9;
}

.bloomcolors-header h2 {
  color: #4B1535;
  text-align: left;
  font-size: 38px;
  font-family: "Markazi Text";
  font-weight: 700;
  text-decoration: underline;
}

.bloomcolors-header h6 {
  color: #FDFBCF;
  text-align: center;
  font-size: 30px;
  font-family: "Markazi Text";
}

.bloomcolors-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 3rem;
  column-gap: 7rem;
  max-width: 1000px;
  padding: 40px;
  padding-left: 240px;
}

.bloomcolors-card {
  display: flex;
  flex-direction: row;
  border-radius: 12px;
  padding: 38px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.08);
  gap: 1rem;
  align-items: flex-start;
  background-color: #E1DDF3;
  border: 2px solid #A24C61;
}

.bloomcolors-card img {
  width: 160px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  flex-shrink: 0;
}

.text-content {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.bloomcolors-card h3 {
  font-size: 26px;
  font-family: 'Markazi Text';
  color: #4B1535;
  font-weight: bolder;
  margin: 0;
}

.bloomcolors-card h4 {
  font-size: 22px;
  font-family: 'Markazi Text';
  color: #5D284C;
  font-weight: bolder;
  margin: 0;
}

.bloomcolors-card span {
  color: #A24C61;
  font-weight: 600;
}

.bloomcolors-card p {
  font-size: 20px;
  margin: 0;
  color: #5D284C;
  line-height: 1.4;
    font-weight: 600;

}

/* Footer css:*/

footer section{
  padding: 10px 8%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  background-color: #4B1535;

}

.company-info img{
  margin-top: 12px;
  cursor: pointer;
  width: 200px;
}

.company-info p{
  width: 320px;
  font-size: 14px;
  color: #D183A9;
  font-weight: 500;
}

footer h3{
  font-size: 20px;
  padding-top: 22px;
  color: #FDC2DF;
  font-family: 'Markazi Text';
  font-weight: 600;
}

footer li a {
  font-size: 18px;
  color: #E1C9D5;
  font-family: 'Markazi Text';
  font-weight: 600;
  transition: all .40s ease;
}

footer li a:hover {
  transform: translateY(-3px) translateX(-5px);
  color: #F09FC6;
}

.footer-icons {
  display: flex;
  gap: 35px;
  color: #E1C9D5;
  justify-content: center;
  transition: all 6s ease-in-out;
  margin-bottom: 20px;
}

.footer-icon:hover {
  transform: translateY(-3px) translateX(-5px);
  color: #F09FC6;
}

footer ul{
  padding: 0;
}

footer ul li{
  padding: 8px 0;
}

.footer-separator {
  border: none;
  border-top: 2px solid #FDC2DF;
  width: 100%;
}

footer p {
  font-size: 15x;
  font-weight: 400;
  color:#E1C9D5;
  padding-top: 130px;
  padding-right: 0;
  text-align: end;
}

@media screen and (max-width: 768px){
  .menu-icon {
    display: block;
  }

  .nav-links {
    display: none;
  }

  .nav-links.visible {
    display: flex;
    background: #333333;
    z-index: 1000;
    padding: 20px 0;
  }

  .navbar{
    background:#fff;
    padding: 10px 8%;
  }

  nav ul li a{
    color: #fff;
  }

  .bar{
    background: #333333;
  }
}