body{
  width: 100%;
  margin: 0 auto;
  background-color: #F4F4F2;
}

li{
  list-style: none;
}
a{
  text-decoration: none;
}

nav{
  z-index: 10001;
}

.logo img {
  margin-top: 12px;
  cursor: pointer;
  width: 270px;
}

.navbar {
  padding: 10px 13%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  display: inline-block;
  padding: 1em;
}

nav ul li a{
  color: #5D284C;
}

nav ul li a:hover{
  text-decoration: underline solid #5D284C;
  
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-family: 'Markazi Text';
  font-size: 21px;
}

.nav-links.visible {
  flex-direction: column;
  position: absolute;
  top: 40px;
  right: 0;
  width: 100%;
  background-color: #5D284C;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.header-banner {
  height: 48vw;
  width: 40px auto;
  background: url('./images/headers/purple\ header.jpg') no-repeat;
  background-size: cover;
  position: relative;
}

h1 {
  font-size: 55px;
  font-family: 'Arial Black';
  font-style: italic;
  color: white;
  padding-top: 28px;
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.welcome-message {
  font-size: 28px;
  font-family: "Markazi Text";
  padding: 80px;
  text-align: center;
  background-color: #E1C9D5;
  color: #4B1535;
}

.welcome-text{
margin: 40px;
}

.categories {
  display: flex;
  justify-content: center;
  align-items: center;   
  flex-wrap: wrap;
  height: 70vh;
  width: 100%;
  background-color: #D183A9;
  padding-bottom: 60px;
}

.card {
  width: 430px;
  border-radius: 8px;  
  background-color: white;
  margin: 20px;
  overflow: hidden;
}

.card-img {
  width: 350px;
  height: 370px;
  border-radius: 30px;  
  object-fit: cover;
  padding-top: 30px;
  padding-bottom: 30px;
  display: block;
  margin: auto;
}

.content-header {
  background-color: #D183A9;
  padding: 30px;
}
.title {
  font-size: 30px;
  font-family: 'Markazi Text';
  font-weight: 600;
  text-align: center;
  color: #FDFBCF;
}

.button-style {
  padding-bottom: 30px;
  text-align: center;
}

.card-button {
  font-size: 18px;
  padding: 10px;
  text-align: center;
  font-family: 'Markazi Text';
  font-weight: 500;
  background-color: #A24C61;
  color: #FDFBCF;
  border-radius: 40px;
}