body{
  width: 100%;
  margin: 0 auto;
  background-color: #F4F4F2;
}

li{
  list-style: none;
}
a{
  text-decoration: none;
}

nav{
  z-index: 10001;
}

.logo img {
  margin-top: 12px;
  cursor: pointer;
  width: 270px;
}

.navbar {
  padding: 10px 13%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  display: inline-block;
  padding: 1em;
}

nav ul li a{
  color: #5D284C;
}

nav ul li a:hover{
  text-decoration: underline solid #5D284C;
  
}

.menu-icon {
  display: none;
  cursor: pointer;
}



.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-family: 'Markazi Text';
  font-size: 21px;
}

.nav-links.visible {
  flex-direction: column;
  position: absolute;
  top: 40px;
  right: 0;
  width: 100%;
  background-color: #5D284C;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.header-banner {
  font-family: 'Playfair Display';
  font-size: large;
  height: 34vw;
  width: 30px auto;
  background: url('./components/images/headers/header\ image.jpg');
  background-size: contain;
  position: relative;
}